@import "../colors.scss";

.header {
  background-color: $header-background-color;
  &_items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 0 8px;
    &_popover {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
